.Home {
	width: 100%;
	display: flex;
	flex-direction: column;
	z-index: 1;
	padding: 5vh 5vw;
}

.Home main {
	display: grid;
	margin: 1rem;
	gap: 5vw;
	grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
	/* grid-template-columns: 1fr 1fr 1fr; */
}

.Home h2 {
	width: 400px;
	font-size: 4rem;
}

.Home h2 span {
	color: #ffa13f;
}

h4 {
	font-family: "Playfair Display";
	font-weight: 400;
	font-size: 5rem;
	line-height: 1;
	color: #05040426;
}

.background {
	position: absolute;
	top: -100px;
	right: 100px;
	z-index: -10;
}
@media (max-width: 500px) {
	.background {
		/* position: fixed; */
		top: 0;
		right: 0;
		left: 0;
	}
	.Home main {
		grid-template-columns: 1fr;
	}
}
