:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	/* line-height: 1.5; */
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #5a5442;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--primary: #ffa13f;
}

@font-face {
	font-family: "Playfair Display";
	src: url("/src/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-width: 320px;
	height: 100vh;
}

h1 {
	font-size: 15rem;
	transform: rotate(90deg);
	position: absolute;
	top: 20rem;
	left: -25rem;
	color: #4d4737;
	user-select: none;
}

a {
	display: inline-block;
	width: 100px;
	padding: 0.5rem 1rem;
	background-color: #b2b3b0;
	color: #4d4737;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
}

a:hover {
	color: var(--primary);
}

input[type="file"] {
	cursor: pointer;
}
button {
	width: 100px;
	padding: 0.3rem 0.5rem;
	cursor: pointer;
}

button:hover {
	cursor: pointer;
}

h5,
h2,
h6 {
	font-family: "Playfair Display";
	text-align: center;
}

h5 {
	translate: 0 -30px;
}

h2 span {
	color: #ffa13f;
}

h6 {
	font-size: 1rem;
	margin: 0.5rem 0;
	text-align: left;
}

@media (max-width: 700px) {
	h1 {
		z-index: -100;
	}
}
